.login {
  width: 10%;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: white;
}

.salir {
  text-decoration: none;
  list-style: none;
  width: 10%;
  color: aliceblue;
}

.aa {
  color: white;
}
html {
  background-color: #2196f3;
}
