<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <title>Document</title>
  </head>
  <body>
    <br />

    <!-- antes app listado personas ahora esta en router outlet-->
    <!--app-listado-personas></app-listado-personas-->
    <router-outlet></router-outlet>
    <!--app-personas></app-personas-->
  </body>
</html>
